* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #050d27;
  --linear-graduit: linear-gradient(80deg, #b3effb, #3a65aa);
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}
.background-granpa {
  position: fixed;
  top: 0;
  right: 0%;
  height: 90%;
  width: 56%;
}
.background-pa {
  position: fixed;
  top: 0;
  right: 0%;
  height: 90.5%;
  width: 56%;
  max-width: 1000px;
  border-radius: 2px;
  background-color: #264671;
  clip-path: polygon(
    5.8% 47%,
    86% 0%,
    100% 0%,
    100% 100%,
    24% 61.5%,
    24% 55.9%,
    15% 51.5%,
    15% 57%,
    5.8% 52.4%
  );
}
.background-child {
  top: 0;
  right: 0%;
  height: 94.4%;
  width: 100%;
  border-radius: 2px;
  max-width: 1000px;
  background-image: var(--linear-graduit);
  clip-path: polygon(0% 47%, 86% 0%, 100% 0%, 100% 100%, 15% 54.4%);
}
.div1 {
  position: absolute;
  width: 83.2%;
  height: 5%;
  background-color: #142b48;
  top: 51.85%;
  left: 14.9%;
  transform-origin: 0;
  transform: rotate(-22deg) skew(-25deg);
  box-shadow: 0 1.4rem var(--background-color);
}

.div2 {
  position: absolute;
  width: 35.7%;
  height: 5.2%;
  background-color: #142b48;
  top: 42.8%;
  left: 57.4%;
  transform: rotate(-22deg) skew(20deg) perspective(100px) rotateX(-31deg);
  box-shadow: 0 1.7rem var(--background-color);
}
.div3 > div {
  height: 100%;
  width: 100%;
  background-color: #142b48;
  clip-path: polygon(0% 0%, 100% 0%, 100% 21%, 35% 100%, 0% 100%);
}
.div3 {
  position: absolute;
  width: 25.7%;
  height: 25.7%;
  background-color: var(--background-color);
  top: 45%;
  left: 65.8%;
  transform: skewY(22deg);
  clip-path: polygon(100% 0%, 100% 100%, 20% 100%);
}
