@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-primary: #050d27;
  --background-secondary: #142b48;
  --linear-graduit: linear-gradient(80deg, #b3effb, #3a65aa);
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-primary);
  overflow: hidden;
}
.background-granpa {
  position: fixed;
  top: 0;
  right: 0%;
  height: 90vh;
  width: 123.5vh;
  min-width: 500px;
  z-index: -3;
}
.background-pa {
  position: fixed;
  top: 0;
  right: 0%;
  height: 90.5vh;
  width: 122.5vh;
  max-width: 1000px;
  border-radius: 2px;
  background-color: #264671;
  clip-path: polygon(
    5.8% 47%,
    86% 0%,
    100% 0%,
    100% 100%,
    24% 61.5%,
    24% 55.9%,
    15% 51.5%,
    15% 57%,
    5.8% 52.4%
  );
}
.background-child {
  top: 0;
  right: 0%;
  height: 94.4%;
  width: 100%;
  border-radius: 2px;
  max-width: 1000px;
  background-image: var(--linear-graduit);
  clip-path: polygon(0% 47%, 86% 0%, 100% 0%, 100% 100%, 15% 54.4%);
}
.div1 {
  position: absolute;
  width: 83.2%;
  height: 5%;
  background-color: var(--background-secondary);
  top: 51.85%;
  left: 14.9%;
  transform-origin: 0;
  transform: rotate(-22deg) skew(-25deg);
  box-shadow: 0 1.4rem var(--background-primary);
}

.div2 {
  position: absolute;
  width: 35.7%;
  height: 5.2%;
  background-color: var(--background-secondary);
  top: 42.8%;
  left: 57.4%;
  transform: rotate(-22deg) skew(20deg) perspective(100px) rotateX(-31deg);
  box-shadow: 0 1.7rem var(--background-primary);
}
.div3 > div {
  height: 100%;
  width: 100%;
  background-color: var(--background-secondary);
  clip-path: polygon(0% 0%, 100% 0%, 100% 21%, 35% 100%, 0% 100%);
}
.div3 {
  position: absolute;
  width: 25.7%;
  height: 25.7%;
  background-color: var(--background-primary);
  top: 45%;
  left: 65.8%;
  transform: skewY(22deg);
  clip-path: polygon(100% 0%, 100% 100%, 20% 100%);
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12vh 73vh 15vh;
  font-family: Roboto;
  color: white;
}
header {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  position: relative;
  left: 5.4rem;
}
#menu {
  margin-right: 5%;
  position: relative;
  right: -1rem;
  display: flex;
  z-index: 1;
}

#humbur > div {
  width: 17px;
  height: 2px;
  background-color: white;
  margin: 10px;
  margin-left: 18px;
  position: relative;
  transform: scale(1);
  transition: 0.5s transform ease-in;
  border-radius: 2px;
  top: -2px;
}
#humbur > div::before,
#humbur > div::after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 6px;
  border-radius: 2px;
}

#humbur > div::before {
  top: -7px;
}

#menucheck {
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  left: 3.4rem;
  top: -0.2rem;
  opacity: 0;
  cursor: pointer;
}

.menu-items {
  height: 30rem;
  width: 30rem;
  position: absolute;
  left: -17.5rem;
  top: -8.9rem;
  z-index: -8;
  background-color: #1c65c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform-origin: 74% 30%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
    5px -5px 5px #1c65c4;
}
#menucheck:checked + .menu-items {
  transform: scale(1);
}

.menu-item {
  font-size: 1.5rem;
  padding: 0.5rem;
  position: relative;
  transition: 0.5s all ease-in-out;
}
.menu-item > a {
  color: white;
  text-decoration: none;
}
.menu-item:hover {
  transform: scale(1.2);
}

.item1 {
  right: 10.3rem;
  top: 0.5rem;
}
.item2 {
  right: 11.5rem;
  top: 1.7rem;
}
.item3 {
  right: 11.1rem;
  top: 2.5rem;
}
.item4 {
  right: 8.5rem;
  top: 3.5rem;
}
.item5 {
  right: 5.8rem;
  top: 4.2rem;
}

main {
  display: grid;
  grid-template-columns: 15vw 80vw;
  grid-template-rows: 100%;
  grid-gap: 5vw;
}
#sections {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  position: relative;
  top: -2rem;
}
#section1 > h1 {
  margin-top: 1rem;
  font-size: 5rem;
}
.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cursor > div {
  margin: 1.2rem;
  position: relative;
  top: 2rem;
  right: 4rem;
  transform: rotate(-90deg);
  opacity: 0.2;
}
.cursorfocus {
  opacity: 1 !important;
}
footer {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}
footer > section {
  display: flex;
  margin: 4rem 2.9rem 4rem 3rem;
}
footer > section > a {
  color: white;
}
svg {
  margin: 0 0.4rem 0 0.4rem;
}
.mouse {
  position: relative;
  bottom: 2.1rem;
  left: -50%;
  stroke-width: 7;
}
#mousediv {
  margin-left: 9rem;
}
